$primaryColor: rgb(55, 62, 83);
$secondaryColor: rgb(230, 230, 230);
$actionColor: #4d5ffe;
$secondActionColor: #4d9fff;

:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  actionColor: $actionColor;
  secondActionColor: $secondActionColor;
}
