.login-form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    width: 80vw;
    font-size: 22px;
  }
  label {
    font-weight: 700;
    font-size: 20px;
  }
  .email-main {
    display: flex;
    flex-direction: column;
  }

  .password-main {
    display: flex;
    flex-direction: column;
  }

  .login-btn {
    padding: 13px;
    border-radius: 15px;
    outline: none;
    border: 1px solid gray;
    font-weight: 800;
    font-size: 17px;
    width: 40vw;
    &:active {
      background-color: rgb(193, 193, 239);
    }
  }
}
